.logo-img {
    width: 100%;
}

header {
    position: relative;
    width: 100%;
    height: 100vh;
}

.header-video {
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.header-content {
    position: relative;
    z-index: 1;
}

.header-brand {
    position: absolute;
    z-index: 1;
    top: 50%;
    right: 0;
    left: 0;
    transform: translateY(-50%);
}

.btn-play-now {
    margin-top: 20px;
    padding-block: 10px;
    padding-inline: 70px;
    display: block;
    border: none;
    background-color: #C40C0C;
    color: white;
    border-radius: 20px;
}

#gameplay {
    height: 640px;
    background-image: linear-gradient(90deg, rgba(15, 15, 15, 0.90) 45.79%, rgba(87, 87, 87, 0.27) 81.5%), url(../assets/image/car-1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;

    .gameplay-content {
        width: 45%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 2.5rem;
    }
}

.main-bg {
    overflow-x: hidden;
    position: relative;
    background-image: linear-gradient(90deg, rgba(15, 15, 15, 0.45), rgba(15, 15, 15, 0.45)), url(../assets/image/main-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    padding-top: 150px;
    padding-bottom: 600px;
}

.carousel {
    position: relative;
    margin-bottom: 10rem;
}

.slide-container {
    height: 440px;
    z-index: 2;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.slide-active {
    transform: translateX(0%) !important;
}

.slide {
    position: absolute;
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 30px;
    transition: transform 0.5s cubic-bezier(0.42, 0, 0.58, 1);
}

.slide-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.slide-image {
    position: relative;

    img {
        position: relative;
        width: 100%;
    }
}

.line-slide {
    z-index: 1;
    position: absolute;
    top: 0;
    width: 70%;
    margin-block: 0;
    margin-top: 30px;
    border: 1px solid #FFD369;
}

.carousel-right {
    .slide {
        transform: translateX(100%);
    }

    .line-slide {
        right: 0;
        margin-right: -5rem;
    }
}

.carousel-left {
    .slide {
        transform: translateX(-100%);
    }

    .line-slide {
        left: 0;
        margin-left: -5rem;
    }
}

.slide-pagination {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.slide-btn-next-prev {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 4rem;
}

.slide-btn-pagination {
    width: 50px;
    height: 4px;
    padding: 0;
    border: none;
    color: transparent;
    background-color: #FFD369;
}

.slide-btn-pagination-active {
    height: 7px !important;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
}

@media (min-width: 640px) {
    .logo-img {
        width: 450px;
    }

    .carousel-right {
        .line-slide {
            margin-right: -1rem;
        }
    }

    .carousel-left {
        .line-slide {
            margin-left: -1rem;
        }

        .slide-pagination {
            margin-left: auto;
        }
    }

    .slide-container {
        height: 310px;
    }

    .slide {
        flex-direction: row;
        gap: 120px;
    }

    .slide-content {
        gap: 3rem;
        margin-top: 50px;
        width: 50%;
    }

    .slide-image {
        width: 50%;
    }

    .carousel-left {
        .slide {
            flex-direction: row-reverse;
        }
    }

    .slide-pagination {
        width: 50%;
    }

    .slide-btn-pagination {
        width: 40px;
    }
}

@media (min-width: 768px) {
    .slide-container {
        height: 340px;
    }

    .slide-btn-pagination {
        width: 50px;
    }
}

@media (min-width: 1024px) {
    .logo-img {
        width: 500px;
    }

    .btn-play-now {
        padding-inline: 80px;
        font-size: 2.3rem;
    }

    .carousel-right {
        .line-slide {
            margin-right: -4rem;
        }
    }

    .carousel-left {
        .line-slide {
            margin-left: -4rem;
        }
    }

    .slide-container {
        height: 385px;
    }

    .slide-content {
        gap: 4rem;
    }
}

@media (min-width: 1280px) {
    .logo-img {
        width: 630px;
    }

    .btn-play-now {
        font-size: 2.5rem;
        padding-block: 20px;
        padding-inline: 100px;
    }

    .carousel-right {
        .line-slide {
            margin-right: -4.5rem;
        }
    }

    .carousel-left {
        .line-slide {
            margin-left: -4.5rem;
        }
    }

    .slide-container {
        height: 410px;
    }

    .slide-content {
        gap: 4rem;
    }
}

@media (min-width: 1440px) {
    .carousel-right {
        .line-slide {
            margin-right: -5rem;
        }
    }

    .carousel-left {
        .line-slide {
            margin-left: -5rem;
        }
    }

    .slide-container {
        height: 385px;
    }
}