body {
    width: 100%;
    background-image: linear-gradient(90deg, rgba(15, 15, 15, 0.30), rgba(15, 15, 15, 0.30)), url(../assets/image/subscription-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

header {
    margin-bottom: 50px;
}

/* title */
.content-title {
    margin-top: 70px;
}

.title {
    margin-bottom: 35px;
}

.subtitle {
    margin-bottom: 20px;
}

/* end title */

/* form subscription */
.form-subscription {
    display: flex;
    justify-content: center;
    margin: 100px 0;
}

.form-subscription-wrapper {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 50px;
    background-color: #fff;
    gap: 30px;
}

.title-form h2 {
    text-align: center;
}

.text-input {
    border: 1px solid black;
    border-radius: 5px;
    padding-block: 10px;
    padding-inline: 20px;
    font-weight: bold;
}

::placeholder {
    color: black;
    font-weight: bold;
}

.date-input {
    display: flex;
    align-items: center;
}

.date-input {
    input {
        color: grey;
        border: none;
        border-bottom: 1px solid black;
    }
}

.date-input h3 {
    margin: 0 15px 0 0;
}

.gender-input {
    display: flex;
    align-items: center;
}

.gender-input input,
label {
    margin: 0 0 0 10px;
    cursor: pointer;
}

.check-agree {
    display: flex;
    align-items: center;
}

.check-agree input {
    width: 20px;
    height: 20px;
}

.check-agree p {
    margin: 0 0 0 10px;
}

/* end form subscription */

/* benefits */
.benefits {
    margin-top: 30px;
}

.benefits-title h3 {
    margin: 10px 0;
}

.benefits-list {
    margin-left: 30px;
}

.benefits-list ul {
    list-style-type: disc;
}

.benefits-list ul li {
    margin: 5px 0;
}

/* end benefits */

/* terms and conditions */
.terms-conditions {
    margin-top: 30px;
    margin-bottom: 100px;
}

.title-terms-conditions {
    margin-bottom: 10px;
}

/* end terms and conditions */

@media (min-width: 640px) {
    .form-subscription-wrapper {
        width: 540px;
    }
}

@media (min-width: 1024px) {
    .form-subscription-wrapper {
        width: 650px;
    }
}

@media (min-width: 1280px) {
    .form-subscription-wrapper {
        width: 700px;
    }
}