.container {
    padding-inline: 1rem;
}

.h-full {
    height: 100%;
}

.hidden {
    display: none !important;
}

.color-white {
    color: white;
}

.font-primary {
    font-family: "Rajdhani", sans-serif;
    font-style: normal;
}

.font-light {
    font-family: "Rajdhani", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.font-regular {
    font-weight: 400;
}

.font-medium {
    font-weight: 500;
}

.font-semibold {
    font-weight: 600;
}

.font-bold {
    font-weight: 700;
}

.font-sm {
    font-size: 1rem;
}

.font-md {
    font-size: 1.2rem;
}

.font-lg {
    font-size: 1.5rem;
}

.font-xl {
    font-size: 1.7rem;
}

.leading-normal {
    line-height: 1.5;
}

.hidden {
    display: none;
}

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* Full screen height */
    background-color: #ffffff;
    /* Adjust the background color if needed */
}

.loading-spinner {
    border: 16px solid #f3f3f3;
    /* Light grey */
    border-top: 16px solid #3498db;
    /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@media (min-width: 640px) {}

@media (min-width: 768px) {
    .font-sm {
        font-size: 1.1rem;
    }

    .font-md {
        font-size: 1.2rem;
    }

    .font-lg {
        font-size: 2rem;
    }

    .font-xl {
        font-size: 2.5rem;
    }
}

@media (min-width: 1024px) {
    .font-sm {
        font-size: 1.3rem;
    }

    .font-md {
        font-size: 1.5rem;
    }

    .font-lg {
        font-size: 2.3rem;
    }

    .font-xl {
        font-size: 2.7rem;
    }

    .container {
        padding-inline: 4rem;
    }
}

@media (min-width: 1280px) {
    .font-sm {
        font-size: 1.5rem;
    }

    .font-md {
        font-size: 1.7rem;
    }

    .font-lg {
        font-size: 2.5rem;
    }

    .font-xl {
        font-size: 3rem;
    }

    .container {
        padding-inline: 4.5rem;
    }
}

@media (min-width: 1440px) {
    .container {
        padding-inline: 5rem;
    }
}